section.teacher 
   .container 
      .teacher__top 
         .caption.teacher__caption Russian language 
         .subtitle Русский язык
      .teacher__body 
         .teacher__left
            .teacher__link София
            ul.teacher__list 
               li.teacher__item.teacher__item_blue 
                  .teacher__text Факты
               li.teacher__item.teacher__item_green
                  .teacher__text Факты
               li.teacher__item.teacher__item_purple 
                  .teacher__text Факты
               li.teacher__item.teacher__item_yellow
                  .teacher__text Факты
         .teacher__right 
            img.teacher__image(src="img/teacher-img.svg", alt="")
      