// Fonts
$base-font: 'LaptevBrush',
sans-serif;
$base-font-size: 16px;
$secondary-font: '3Dumb',
'LaptevBrush',
sans-serif;
$font: 'Heroic',
sans-serif;


$white: #FAFAFA;
$gray-light: #E5E5E5;
$gray-dark: #797979;
$gray-primary: #ABABAB;
$black: #2C292D;
$purple: #4E0087;
$purple-secondary: #8103db;
$purple-light: #BD6EF5;
$yellow: #F5C97D;
$red: #EB5757;
$blue: #2D9CDB;
$blue-light:#5A9EFF;
$blue-second: #0077FF;
$green-dark:#386C55;
$green:#356E4C;
$button-disabled: #a780c3;

$vk-color: #4a76a8;
$fb-color: #3b5998;
$in-color: #007cb7;
$tg-color: #229ace;
