.courses {
  $root: &;
  padding: 100px 0 150px 0;
  @media(max-width: 479px) {
    padding: 50px 0 100px;
  }

  &__head {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
  }

  &__caption {
    text-transform: uppercase;
    padding: 0;
    @media(max-width: 1199px) {
      font-size: 80px;
    }
    @media(max-width: 990px) {
      font-size: 70px;
    }
    @media(max-width: 479px) {
      font-size: 50px;
    }
  }

  &__caption-text {
    padding-left: 250px;
    @media(max-width: 767px) {
      padding-left: 80px;
    }
  }

  &__subtitle {
    @media(max-width: 990px) {
      font-size: 40px;
    }
    @media(max-width: 767px) {
      position: absolute;
      top: -30px;
      right: -10px;
      max-width: 150px;
    }
    @media(max-width: 479px) {
      font-size: 30px;
      right: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media (max-width: 990px) {
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 100px;
    @media (max-width: 1549px) {
      margin: 40px 60px;
    }
    @media (max-width: 1199px) {
      margin: 40px 40px;
    }
    @media (max-width: 990px) {
      margin: 30px 50px;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -60px;
      left: calc(50% - (475px / 2));
      display: inline-block;
      width: 475px;
      height: 120px;
      background: url(./img/door-shadow.png) center/cover no-repeat;
      z-index: -1;
    }

    &:hover {
      #{$root} {
        &__door,
        &__cabinet-name {
          filter: blur(10px);
          pointer-events: none;
        }
        &__btns {
          opacity: 1;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }
  }

  &__cabinet-name {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    font-family: $font;
    text-align: center;
    line-height: 85px;
    max-width: 250px;
    color: #fff;
    transition: 0.4s;
    @media (max-width: 1199px) {
      font-size: 50px;
      line-height: 75px;
    }
  }

  &__btns {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-30%) translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.4s;
  }

  &__btn {
    background: #fff;
    color: $purple;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 24px;
    min-width: 220px;

    &:hover {
      color: #fff;
      background: $purple;
    }
  }

  &__door {
    height: 450px;
    transition: 0.4s;
    @media (max-width: 1199px) {
      height: 400px;
    }
  }

  &__countur {
    fill: none;
    stroke: #222;
    stroke-width: 5;

    &_inner {
      opacity: 0.5;
    }
  }

  &__canvas {
    //fill: $purple-secondary;
  }
}
