.cabinet-course {
  padding-top: 100px;
  padding-bottom: 200px;
  position: relative;

  @include mobile {
    padding-top: 30px;
  }

  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__elem {
    position: relative;
    margin-left: 100px;
    max-width: 168px;
    max-height: 168px;
    background-image: url('./img/lesson-paper.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    &::after {
      right: -30px;
      top: -30px;
    }

    @include minidesktop {
      margin-left: 50px;
      position: absolute;
      top: -221px;
      right: 0;
      height: 200px;
    }

    @include tablet {
      height: 300px;
      margin-bottom: 50px;
      position: static;
    }

    @include mobile {
      margin-left: 0;
    }
  }

  &__download-link {
    text-align: center;
    margin-top: 40px;
    margin-left: -10px;
    display: block;
    font-size: 40px;
    line-height: 37px;
    color: $purple;
    cursor: pointer;
    transform: rotate(-45deg);
  }

  &__right {
    margin-left: 200px;
    max-width: 500px;

    & > .about-elem {
      &:after {
        right: -20px;
        top: -30px;
      }

    }

    @include mediumdesktop {
      margin-left: 150px;
    }

    @include minidesktop {
      margin-left: 70px;
    }

    @include tablet {
      width: 100%;
      margin-bottom: 50px;
      margin-left: 0px;
      order: -1;
    }

  }

  &__heading {
    margin-bottom: 20px;
    font-size: 70px;
    line-height: 66px;
    position: relative;


    @include mediumdesktop {
      font-size: 60px;
    }
  }

  &__info {
    margin-bottom: 50px;
    font-size: 25px;
    line-height: 23px;
  }

  &__list {
    position: relative;
    margin-bottom: 70px;
    max-height: 300px;

    .ps__rail-y {
      width: 8px;
      opacity: 1;
      border-radius: 10px;
      pointer-events: none;
      background: #afafaf !important;
    }

    .ps__thumb-y {
      width: 8px;
      right: 0;
      background: $black;
    }
  }

  .ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y, .ps--focus > .ps__rail-x, .ps--focus > .ps__rail-y, .ps--scrolling-x > .ps__rail-x, .ps--scrolling-y > .ps__rail-y {
    opacity: 1;
  }

  &__item {
    font-size: 40px;
    line-height: 37px;
    padding-left: 40px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-image: url('./img/lock.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      width: 32px;
      height: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__link {
    cursor: pointer;
    transition: color .3s ease-in-out;

    &:hover {
      color: $purple;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font-size: 40px;
    line-height: 37px;
    cursor: pointer;
    position: relative;
    transition: color .3s ease-in-out;

    &:hover {
      color: $purple;
    }

    @include smallmobile {
      max-width: 250px;
    }
  }

  &__button-icon {
    margin-left: 25px;
  }

  &__decor-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: 200px;
  }

  &__decor-2 {
    position: absolute;
    bottom: 0;
    max-height: 340px;
    left: 35%;
  }

  &__decor-3 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 250px;
  }

  &__decor-4 {
    position: absolute;
    top: -100px;
    right: 100px;
    width: 150px;
    z-index: -1;
  }
}

.test {
  &::before {
    background-image: url('../../../assets/img/lessons/test.svg');
  }
}

.passed {
  &::before {
    background-image: url('../../../assets/img/lessons/passed.png');
  }
}

.current {
  &::before {
    background-image: url('../../../assets/img/lessons/arrow.svg');
  }
}

.free {
  &::before {
    background-image: url('../../../assets/img/lessons/free.png');
  }
}
