.app-button {
  border: 2px solid $black;
  color: #fff;
  text-transform: uppercase;
  transition: .4s;
  position: relative;

  &__smugdes {
    position: absolute;
    left: -2px;
    bottom: -30px;
  }

  &__smugdes-light {
    opacity: 0;
  }

  &:hover > &__smugdes-light {
    opacity: 1;
  }

  &_default {
    background: $purple;

    &:hover {
      background: lighten($purple, 5%);
    }
  }

  &_bordered {
    color: $black;
    background: transparent;

    &:hover {
      color: #fff;
      background: lighten($purple, 5%);
    }
  }

  &_white {
    color: $black;
    background: #fff;

    &:hover {
      color: #fff;
      background: lighten($purple, 5%);
    }
  }

  // size
  &_size-s {
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 40px;
  }

  &_size-m {
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 10px;
    @media(max-width: 1549px) {
      font-size: 18px;
    }
    @media(max-width: 990px) {
      font-size: 14px;
      padding: 6px 20px;
      border-radius: 5px;
    }
  }

  &_size-l {
    padding: 8px 40px;
    font-size: 20px;
    border-radius: 10px;
    @media(max-width: 1549px) {
      font-size: 18px;
      padding: 8px 30px;
    }
    @media(max-width: 990px) {
      font-size: 14px;
      padding: 6px 20px;
      border-radius: 5px;
    }
  }

  &_size-xl {
    padding: 20px 70px;
    font-size: 25px;
    border-radius: 10px;
    @media(max-width: 1549px) {
      font-size: 22px;
      padding: 15px 40px;
    }
    @media(max-width: 990px) {
      font-size: 16px;
      padding: 10px 30px;
      border-radius: 5px;
    }
  }

  &_size-xxl {
    padding: 27px 77px;
    font-size: 25px;
    border-radius: 10px;
    @media(max-width: 1549px) {
      font-size: 22px;
      padding: 15px 40px;
    }
    @media(max-width: 990px) {
      font-size: 16px;
      padding: 10px 30px;
      border-radius: 5px;
    }
  }

  &:disabled {
    filter: contrast(0.3);
  }
}

.color-white {
  background-color: white;
  border-color: #2C292D;
  color: #2C292D;

  &:hover {
    background: lighten(silver, 5%);
  }
}